<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <title>Lynch Rooms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Styles -->
    <link rel="stylesheet" href="../css/main.css" type="text/css" />
    <link rel="stylesheet" href="css/info.css" type="text/css" />
        <!-- Pure -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css" type="text/css" />
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css" type="text/css" />
</head>
<body>

<!-- Navigation Bar -->
<div id="nav-bar">
    <span>Lynch Rooms</span>
    <a class="pure-button" href="../create-user">Create Account</a>
    <a class="pure-button" href="../login">Login</a>
</div>

<!-- Information -->
<div>

    <p>Lynch Rooms is an ............... something to do wth Mafia.......  Need to remake this paragraph at some point.</p>

</div>
 
</body>
</html>
