{% extends '/entry/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'entry/css/login.css' %}" type="text/css"/>
{% endblock %}

{% block main %}
<!-- Login -->
<div class="pure-g" id="account-form">
    <div class="pure-u-1-4"></div>
    <div class="pure-u-1-2">
    <form class="pure-form pure-form-aligned" id="login_form" method="post" action="{% url 'login' %}" onsubmit="verifyFields()">
        {% csrf_token %}
        <fieldset>
            <legend>Login</legend>

            <div class="pure-control-group">
                <label for="user-id">Username</label>
                <input id="user-id" type="text" name="username" value="" size="50"/>
            </div>

            <div class="pure-control-group">
                <label for="password">Password</label>
                <input id="password" type="password" name="password" value="" size="50" />
            </div>

            <label for="remember" class="pure-checkbox">
{#                TODO Implement this? #}
                <input id="remember" type="checkbox"> Remember me
            </label>

            <input type="submit" value="Sign in" class="pure-button pure-button-primary" />
        </fieldset>
    </form>
    </div>
    <div class="pure-u-1-4"></div>
</div>
{% endblock main %}