<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8"/>
    <title>Lynch Rooms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'entry/css/main.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'entry/css/creation.css' %}" type="text/css"/>
    <!-- Pure -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css" type="text/css"/>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css" type="text/css"/>
    <!-- Scripts -->
</head>
<body>

<!-- Nav Bar -->
<div id="nav-bar">
    <span>Lynch Rooms</span>
    <a class="pure-button" href="../info">Home</a>
    <a class="pure-button" href="../Login">Login</a>
</div>

<!-- Create an account form -->
<div class="pure-g" id="account-form">
    <div class="pure-u-1-4"></div>
    <div class="pure-u-1-2">
        {% if registered %}
            <h1> Verify!</h1>
            We have sent you an email, please verify your account!<br>
            <a href="{% url 'index' %}">Return to the homepage.</a><br/>
        {% else %}


            <form class="pure-form pure-form-aligned" id="user_form" method="post" action="/register"
                  enctype="multipart/form-data">
                <fieldset>
                    <legend>Create an Account</legend>
                    {% csrf_token %}

                    <!-- Display each form. The as_p method wraps each element in a paragraph
                         (<p>) element. This ensures each element appears on a new line,
                         making everything look neater. -->
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}

                    <!-- Provide a button to click to submit the form. -->
                    <input type="submit" class="pure-button pure-button-primary" name="submit" value="Register"/>
                </fieldset>
            </form>
        {% endif %}
        </fieldset>
        </form>
    </div>
    <div class="pure-u-1-4"></div>
</div>

<!-- Message -->
<div class="pure-g verify-message">
    <div class="pure-u-1-8"></div>
    <div class="pure-u-3-4">
        <p>Once you have completed this form, we will send you an email with a link in it.
            Once you click on that link verifying that you did indeed sign up for this, then you will have access to the
            rest of the site.</p>
    </div>
    <div class="pure-u-1-8"></div>
</div>

</body>
</html>
